[user]
    name = Kemal Kurniawan
[color]
    ui = true
[alias]
    co = checkout
    st = status -sb
    ds = diff --staged
    del = branch -d
    ren = branch -m
    br = branch
    ci = commit
    llog = log --oneline -n 10
[core]
    editor = vim
    pager = delta
[push]
    default = simple
[status]
    showUntrackedFiles = all
[pull]
    rebase = false

# Delta config starts
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[delta]
    navigate = true
# Delta config ends
