# Mac OS X

# Colorize ls output if exa isn't installed
if ! hash exa 2>/dev/null; then
    if brew help > /dev/null 2>&1 && brew ls --versions coreutils > /dev/null; then
        alias ls='gls --color=auto'
        alias ll='gls -lhF --color=auto'
        alias lha='gls -alhF --color=auto'
    else
        alias ls='ls -G'
        alias ll='ls -lhFG'
        alias lha='ls -alhFG'
    fi
fi

# Shorthand for htop
if hash brew 2>/dev/null && brew ls --versions htop-osx > /dev/null; then
    alias htop='sudo htop'
fi
