[user]
    name = Kemal Maulana
    email = kemskems@fastmail.com
[color]
    ui = true
[alias]
    co = checkout
    st = status -sb
    ds = diff --staged
    mg = merge --no-ff
    del = branch -d
    ren = branch -m
    graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
    standup = log --since '1 day ago' --oneline --author kemskems@fastmail.com
    br = branch
    ci = commit
    llog = log --oneline -n 10
[core]
    editor = vim
[push]
    default = simple
